<!--Jinja2 has a template inheritance feature that specifically addresses this problem. In essence, what you can do is move the parts of the page layout that are common to all templates to a base template, from which all other templates are derived.-->

<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
	    <div>
      Microblog:
        <a href="/index">Home</a>
        <a href="/login">Login</a>
    </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
